.card {

    /* Your existing card styles */

    /* For example: */

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 10vh; /* Adjust this value as needed */

}

.p-dialog-mask {

  background-color: rgba(255, 255, 255, 0.5); /* Change the color and opacity as needed */

}

 

.center-content {

    text-align: center;

}

 

/* .tables-container {

    display: flex;

    align-items: flex-start;

} */

 

.tables-container {

    display: flex;

}

 

.table-wrapper {

    flex: 1;

    margin-right: 20px; /* Adjust spacing between tables */

}

 

.row {

    display: flex;

    margin-left:-5px;

    margin-right:-5px;

  }

 

  .column {

    flex: 50%;

    padding: 5px;

  }.delete-button {

    background-color: #eee;

    border: 2px solid rgb(190, 190, 190);

    border-radius: 20%; /* Makes the border rounded */

    padding: 0.5rem;

    cursor: pointer;

    display: inline-block;

  }

 

  .delete-button i {

    display: block;

    margin: auto;

  }

 

/*

  .edit-button {

    background-color: #eee;

    border: 2px solid rgb(190, 190, 190);

    border-radius: 20%;

    padding: 0.5rem;

    cursor: pointer;

    display: inline-block;

  }

 

  .edit-button i {

    display: block;

    margin: auto;

  } */

 

  .edit-button {

    background-color: #eee;

    border: 2px solid rgb(190, 190, 190);

    border-radius: 20%; /* Makes the border rounded */

    padding: 0.5rem;

    cursor: pointer;

    display: inline-block;

  }

 

  .edit-button i {

    display: block;

    margin: auto;

  }.p-grid{

    display: flex;
  
  }
  
  .p-col-4{
  
    flex: 2;
  
    margin-right: 20px;
  
  }
  
  .required-star
  
  {
  
    color: red;
  
  }
  
  .panel-container {

    width: 50%; /* Adjust as needed */
  
     /* Center the panel */
  
    padding: 0 !important;
  
    height:auto !important;
  
  }
  
   
  
  .table-content {
  
    width: 100%; /* Table takes full width of the panel */
  
    padding: 0 !important;
  
    margin: 0 !important;
  
    margin-top: -20px !important;
  
  }
  
   
  
  .p-panel .p-panel-content {
  
    padding: 0 !important;
  
    margin-top: -20px !important;
  
  }
  
  :host ::ng-deep .p-panel-content{

    padding: 0.25rem !important;
  
    height:350px;
  
    height: auto;
  
  }
  
  
  
  
  .overlay {

    position: fixed;
  
    top: 0;
  
    left: 0;
  
    width: 100vw;
  
    height: 100vh;
  
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  
    z-index: 1000; /* Make sure the overlay is above other elements */
  
  }
  
   
  
  .header-cell{
  
  text-align: center !important;
  
  }
  
   
  
   :host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-header {
  
    margin-top: -20px;
  
   }
   :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {

    text-align: left;

    border: 1px solid #dee2e6;

    border-width: 1px 1px 1px 1px;

    padding: 1rem 1rem;

}

 

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {

  border-width: 1px 1px 1px 0;

 

}